
/* From https://ui.perfetto.dev/ */

html {
	font-family: Roboto, verdana, sans-serif;
}

html, body, body > main, body > main > div {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overscroll-behavior: none;
	overflow: hidden;
}

body > main > div {
	display: grid;
	grid-template-areas: "sidebar topbar" "sidebar alerts" "sidebar page";
	grid-template-rows: auto auto 1fr;
	grid-template-columns: auto 1fr;
	color: #121212;
	overflow: hidden;
}

h1, h2, h3 {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding: 0;
	margin: 0;
}

#body.filedrag::after {
	content: "Drop the trace file to open it";
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 10px dashed #404854;
	text-align: center;
	font-size: 3rem;
	line-height: 100vh;
	color: #333;
	background: rgba(255, 255, 255, 0.5);
}

.topbar {
	grid-area: topbar;
	position: relative;
	z-index: 3;
	overflow: visible;
	background-color: var(--topbar-background);
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1490196078);
	min-height: calc(var(--topbar-height) - 1px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.topbar .omnibox {
	position: relative;
	width: 90%;
	max-width: 600px;
	transition: opacity 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, width 0.25s ease, height 0.25s ease, max-width 0.25s ease, max-height 0.25s ease, margin 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease, border-radius 0.25s ease;
	display: grid;
	grid-template-areas: "icon input stepthrough";
	grid-template-columns: 34px auto max-content;
	border-radius: 2px;
	background-color: white;
	border: solid 1px transparent;
	line-height: 34px;
}
.topbar .omnibox:focus-within {
	border-color: #aaa;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.topbar .omnibox .icon {
	font-family: "Material Icons";
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.topbar .omnibox > .icon {
	margin: 5px;
	color: #aaa;
	grid-area: icon;
}
.topbar .omnibox > .icon a {
	color: #aaa;
	text-decoration: none;
}

.topbar .omnibox input {
	grid-area: input;
	border: 0;
	padding: 0 10px;
	font-size: 18px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 300;
	color: #666;
	background-color: transparent;
	outline: none;
}

.topbar .omnibox input::placeholder {
	color: #b4b7ba;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
}

.topbar .omnibox .stepthrough {
	grid-area: stepthrough;
	display: flex;
	font: inherit;
	font-size: 14px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 300;
	color: #aaa;
}
.topbar .omnibox .stepthrough .current {
	padding-right: 10px;
}
.topbar .omnibox .stepthrough .material-icons.left {
	border-right: rgb(218, 217, 217) solid 1px;
}

.material-icons {
	vertical-align: middle;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.omnibox-empty-state {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	user-select: none;
	color: #19212b;
	margin: auto;
	justify-content: center;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.omnibox-empty-state > i {
	font-size: 5em;
	margin-bottom: 8px;
}
.omnibox-empty-state .omnibox-empty-state-title {
	text-align: center;
	font-weight: bolder;
	margin-bottom: 2px;
}
.omnibox-empty-state .omnibox-empty-state-content {
	text-align: center;
	font-size: smaller;
}

.topbar .progress {
	position: absolute;
	bottom: 0;
	height: 1px;
	width: 100%;
}

.alerts {
	grid-area: alerts;
	background-color: #f2f2f2;
}

.page {
	grid-area: page;
	position: relative;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.hotkey {
	display: flex;
	flex-direction: row;
	gap: 2px;
}
.keycap {
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-bottom-color: #c6cbd1;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #c6cbd1;
	color: #444d56;
	display: inline-block;
	font-family: var(--monospace-font);
	vertical-align: middle;
	line-height: 20px;
	padding: 3px 7px;
}

.help table td:first-child {
	font-family: var(--monospace-font);
}
.help table td {
	min-width: 50%;
}
.help table {
	margin-bottom: 15px;
	width: 100%;
}
table {
	user-select: text;
}
.help h2 {
	font: inherit;
	font-weight: bold;
}
.modal-dialog main {
	font-size: 1rem;
	margin-top: 2rem;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.8);
}

.pf-anchor {
	display: inline-block;
	line-height: 1;
	text-decoration: none;
	color: #3d5688;
	cursor: pointer;
	border-bottom: dotted 1px #3d5688;
	transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1), background 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-anchor > .material-icons {
    float: right;
    margin: 0 0 0 0px;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
.pf-anchor:hover {
    border-bottom-style: solid;
    background: #0001;
    box-shadow: 0 1px 0 #3d5688;
}

.flags-page {
	height: 100%;
	overflow-y: scroll;
	z-index: 1;
}
.flags-content {
	max-width: 100ch;
	width: 60%;
	margin: 0 auto;
	padding: 3rem;
	display: grid;
}
.flags-content h1 {
	font-size: larger;
	margin: 1rem 1rem;
}
.flags-content button {
	background: none;
	border: 1px solid rgb(218, 220, 224);
	border-radius: 2px;
	color: var(--flags-accent-color);
	font-size: 0.8125rem;
	padding: 8px 12px;
	cursor: pointer;
	font-weight: 500;
	margin: 3px 0.5rem;
}
.flag-widget {
	display: grid;
	grid-template: "title control" auto "description control" auto/1fr auto;
	gap: 0.3rem;
	padding: 1rem 1rem;
	align-items: center;
}
.flag-widget:nth-child(2n+1) {
	background-color: #f6f6f6;
}
.flag-widget label {
	font-weight: bold;
}
.flag-widget select {
	grid-area: control;
	background: white;
	border: 1px solid var(--flags-accent-color);
	color: var(--flags-accent-color);
	font-size: 0.8125rem;
	height: 1.625rem;
	letter-spacing: 0.01em;
	max-width: 150px;
	text-align-last: center;
	width: 100%;
}
.flag-widget .description {
	font-size: smaller;
}

.home-page {
	display: grid;
	align-items: stretch;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 60px;
	grid-template-areas:
		"center" 
		"footer";
}

.home-page .home-page-center {
	grid-area: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.home-page .home-page-center .logo {
	height: 2em;
	margin-top: -0.4em;
	margin-right: 0.1rem;
}
.home-page .home-page-center .home-page-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	margin: 25px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: #000;
}

.home-page .home-page-center .home-page-hints {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Roboto Condensed", sans-serif;
}
.home-page .home-page-center .home-page-hints .tagline {
	font-style: italic;
	color: red;
}
.home-page .home-page-center .home-page-hints ul {
	margin: 0;
	padding: 0;
}
.home-page .home-page-center .home-page-hints ul li {
	padding-top: 0.5rem;
}

.home-page .home-page-center .channel-select {
	font-family: "Roboto Condensed", sans-serif;
	--chan-width: 100px;
	--chan-num: 2;
}

.home-page .home-page-center .channel-select fieldset {
	text-align: center;
	margin: 1rem auto;
	padding: 0;
	position: relative;
	background-color: hsl(218, 8%, 30%);
	border-radius: 2px;
	box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.4);
	border: 0;
	width: calc(var(--chan-width) * var(--chan-num));
	height: 40px;
	line-height: 40px;
	z-index: 0;
}
.home-page .home-page-center .channel-select input[type="radio"] {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.home-page .home-page-center .channel-select label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	width: var(--chan-width);
	height: 100%;
	color: white;
	z-index: 2;
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Roboto Condensed", sans-serif;
}

.home-page .home-page-center .channel-select input[type="radio"]:nth-of-type(1):checked ~ .highlight {
	margin-left: 0;
}
.home-page .home-page-center .channel-select input[type="radio"]:nth-of-type(2):checked ~ .highlight {
	margin-left: 100px;
	background-color: hsl(54, 100%, 40%);
}
.home-page .home-page-center .channel-select .highlight {
	width: var(--chan-width);
	height: 100%;
	position: absolute;
	background: hsla(122, 45%, 45%, 0.99);
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: inherit;
	transition: opacity 0.2s ease, color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, width 0.2s ease, height 0.2s ease, max-width 0.2s ease, max-height 0.2s ease, margin 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease, border-radius 0.2s ease;
}

.home-page .footer {
	grid-area: footer;
	align-self: center;
	text-decoration: none;
	font-family: "Roboto Condensed", sans-serif;
	color: #333;
}

.sidebar {
	--sidebar-padding-bottom: 40px;
	--sidebar-timing: 0.15s;
	grid-area: sidebar;
	z-index: 4;
	background-color: var(--expanded-background);
	overflow: hidden;
	width: var(--sidebar-width);
	display: flex;
	position: relative;
	flex-direction: column;
	transition: margin-left var(--anim-easing) var(--sidebar-timing), visibility linear var(--sidebar-timing);
}

:root {
	--sidebar-width: 230px;
	--topbar-height: 44px;
	--monospace-font: "Roboto Mono", monospace;
	--track-shell-width: 250px;
	--track-border-color: #00000025;
	--anim-easing: cubic-bezier(0.4, 0, 0.2, 1);
	--selection-stroke-color: #00344596;
	--selection-fill-color: #8398e64d;
	--overview-timeline-non-visible-color: #c8c8c8cc;
	--details-content-height: 280px;
	--collapsed-background: hsla(190, 49%, 97%, 1);
	--expanded-background: hsl(215, 22%, 81%);
	--section-background: hsl(213, 26%, 87%);
	--hover-background: hsl(216, 15%, 75%);
	--topbar-background: hsl(215, 1%, 95%);
	--topbar-ml-background: hsl(215, 1%, 95%);
	/* switch to this to change topbar color in ML mode:
	--topbar-ml-background: hsl(243, 92%, 95%); */
	--flags-accent-color: rgb(10, 75, 165);
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	/* TODO: should this be enabled? */
	/* touch-action: none; */
}

.sidebar.hide-sidebar {
	visibility: hidden;
	margin-left: calc(var(--sidebar-width) * -1);
}

.sidebar > header {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	font-size: 24px;
	height: var(--topbar-height);
	line-height: var(--topbar-height);
	vertical-align: middle;
	padding: 0 12px;
	color: #000;
	overflow: visible;
    display: flex;
}

.sidebar > header.canary::before {
	content: "CANARY";
	color: hsl(0, 100%, 40%);
	display: block;
	position: absolute;
	font-size: 10px;
	line-height: 5px;
	font-family: "Roboto", sans-serif;
	top: 7px;
	right: 48px;
}
.sidebar > header::before {
	z-index: 10;
}

.sidebar > header .brand {
	height: 36px;
	margin-top: 4px;
}

.sidebar .sidebar-button {
	position: fixed;
	z-index: 5;
	background-color: var(--expanded-background);
	height: var(--topbar-height);
	left: calc(var(--sidebar-width) - 50px);
	border-radius: 0 5px 5px 0;
	border-bottom: inherit;
	visibility: visible;
	transition: left var(--anim-easing) var(--sidebar-timing);
	width: 48px;
	overflow: hidden;
}

.sidebar.hide-sidebar .sidebar-button {
	left: 0;
	background-color: transparent;
	border-radius: unset;
	border-bottom: none;
	color: #000;
}

.sidebar > * {
	border-bottom: 1px solid hsl(215, 22%, 71%);
}

.sidebar input[type="file"] {
	display: none;
}

.sidebar .sidebar-scroll {
	overflow-y: auto;
	flex: 1;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container {
	position: relative;
	min-height: 100%;
	padding-bottom: var(--sidebar-padding-bottom);
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section.expanded {
	background-color: var(--section-background);
	max-height: unset;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section {
	transition: opacity 0.1s ease, color 0.1s ease, background-color 0.1s ease, border-color 0.1s ease, width 0.1s ease, height 0.1s ease, max-width 0.1s ease, max-height 0.1s ease, margin 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease, border-radius 0.1s ease;
	padding: 20px 0;
	max-height: 80px;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li.hidden {
	display: none;
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li.delete.will-delete {
	background-color: hsla(0, 100%, 50%, 0.5);
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li.delete {
	margin-top: -10px;
	box-shadow: inset 0 0 10px hsla(0, 100%, 50%);
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section .section-header > h1 {
	color: #000;
	font-size: 15px;
	display: flex;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section .section-header > h1 > .material-icons {
	margin-right: 10px;
	font-size: inherit;
	--mdc-icon-size: 18px;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section .section-header > h1, .sidebar .sidebar-scroll > .sidebar-scroll-container > section .section-header > h2 {
	letter-spacing: 0.25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 12px;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section.expanded .section-header h2 {
	opacity: 0;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section.expanded .section-header:not(.delete)::before {
	content: "expand_less";
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section:not(.expanded):hover {
	background-color: var(--hover-background);
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section .section-header:not(.delete)::before {
	font-family: "Material Icons";
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
	content: "expand_more";
	float: right;
	color: rgba(0, 0, 0, 0.3);
	margin-right: 12px;
	margin-top: -4px;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section .section-header > h2 {
	transition: opacity 0.1s ease, color 0.1s ease, background-color 0.1s ease, border-color 0.1s ease, width 0.1s ease, height 0.1s ease, max-width 0.1s ease, max-height 0.1s ease, margin 0.1s ease, margin-top 0s, transform 0.1s ease, box-shadow 0.1s ease, border-radius 0.1s ease;
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	font-weight: 400;
}
.sidebar .sidebar-scroll > .sidebar-scroll-container > section:not(.expanded) .section-header > h2 {
	margin-top: 8px;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content {
	pointer-events: none;
	transition: opacity 0.1s ease, color 0.1s ease, background-color 0.1s ease, border-color 0.1s ease, width 0.1s ease, height 0.1s ease, max-width 0.1s ease, max-height 0.1s ease, margin 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease, border-radius 0.1s ease;
	opacity: 0;
	color: hsl(210, 4%, 28%);
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content a {
	color: hsl(210, 4%, 28%);
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li.drag > a {
	color: #0000;
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li div.placeholder {
	color: hsl(210, 4%, 28%);
	background-color: inherit;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
	width: 100%;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li:not(.no-hover):hover {
	background-color: var(--hover-background);
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li.hover {
	background-color: var(--hover-background);
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li.drag {
	background-color: var(--hover-background);
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li.drag {
	background-color: var(--hover-background);
	box-shadow: inset 0 0 10px hsl(216, 15%, 28%);
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li > div.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li > div.overlay > a {
    flex-basis: 100%;
	justify-content: center;
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li > div.overlay > a.edit {
    background-color: hsl(218, 100%, 85%);
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li > div.overlay > a.edit:hover {
    background-color: hsl(218, 100%, 75%);
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li > div.overlay > a.delete {
    background-color: hsl(0, 100%, 85%);
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li > div.overlay > a.delete:hover {
    background-color: hsl(0, 100%, 75%);
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li > div.overlay > a.cancel {
	background-color: var(--section-background);
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li > div.overlay > a.cancel:hover {
    background-color: var(--hover-background);
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section .section-header {
	cursor: pointer;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container > section.expanded .section-content {
	pointer-events: inherit;
	opacity: 1;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li {
	position: relative;
	transition: opacity 0.1s ease, color 0.1s ease, background-color 0.1s ease, border-color 0.1s ease, width 0.1s ease, height 0.1s ease, max-width 0.1s ease, max-height 0.1s ease, margin 0.1s ease, margin-top 0s, transform 0.1s ease, box-shadow 0.1s ease, border-radius 0.1s ease;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li a {
	line-height: 24px;
	font-size: 14px;
	padding: 4px 12px;
	text-decoration: none;
	display: flex;
	overflow: hidden;
	white-space: nowrap;
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li a input {
	background-color: var(--hover-background);
	border: 0;
	outline: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	margin: 0 2px;
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li .material-icons {
	margin-right: 10px;
	font-size: inherit;
}
.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li:not(.drag) .material-icons.small {
	color: hsl(216, 3.5%, 48%);
}

.sidebar .sidebar-scroll > .sidebar-scroll-container .section-content li .trace-file-name {
	white-space: break-spaces;
	font-family: "Roboto Condensed", sans-serif;
	word-break: break-all;
	font-weight: 300;
	letter-spacing: 0;
	margin-top: -10px;
	color: #000;
}

.sidebar .sidebar-footer .version {
	position: absolute;
	right: 8px;
	bottom: 3px;
	font-size: 12px;
	font-family: "Roboto Condensed", sans-serif;
	margin-top: 11px;
}

.sidebar .sidebar-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 2px 10px;
	display: grid;
	height: -var(--sidebar-padding-bottom);
	grid-template-columns: repeat(4, min-content);
	grid-gap: 10px;
}

.sidebar .sidebar-footer > .dbg-info-square > div {
	font-size: 10px;
	line-height: 11px;
}

.sidebar .sidebar-footer > .dbg-info-square {
	font-family: "Roboto Condensed", sans-serif;
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 1px 0;
	background: #e3e8ed;
	color: #4e71b3;
	border-radius: 2px;
	font-size: 12px;
	text-align: center;
}

.sidebar .sidebar-footer > .dbg-info-square.green {
	background: #7aca75;
	color: #12161b;
}
.sidebar .sidebar-footer > .dbg-info-square.green {
    background: #7aca75;
    color: #12161b;
}
.sidebar .sidebar-footer > .dbg-info-square.amber {
    background: #ffc107;
    color: #333;
}
.sidebar .sidebar-footer > .dbg-info-square.red {
    background: #d32f2f;
    color: #fff;
}

.sidebar .sidebar-footer .version a {
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}
